.acordeon{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid;
    border-radius: 1rem;
    border-width: 3px;
    border-style: groove;
    margin:1rem 0;
    transition: .25s;
}
.acordeon .trigger{
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: transparent;
    border: none;
}
.acordeon .trigger h2{
    font-size: 1.5rem;
    margin: 0;
    text-align: start;
}

.acordeon .trigger:hover{
    cursor: pointer;
}

.acordeon .trigger::after{
    content: "";
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/icons/arrow.svg');
    transition: .25s;

}

.acordeon.open .trigger::after{
    transform: rotate(180deg);
}


.acordeon .content{    
    overflow: hidden ;
    height: 0;
    opacity: 0;
    transition: .25s  opacity ease-in-out ;    
}

.acordeon.open .content{
    display: block;
    height: auto;
    opacity: 1;
    padding: 0 1rem 1rem 2rem;
}