.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .photo{
    width: 200px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
}

.header .title {
    text-align: center;
    font-family: 'Neue Machine';
}

.information {    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.information p {  
    display: flex; 
    flex-direction: row;
    align-items: center;
    margin: .5rem;
    font-size: 1.125rem;
 }

 .information p::before {   
    content:'';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: .5rem;
 }

 .information .job::before {
    background-image: url('../img/icons/job.svg');
 }

 .information .location::before {
    background-image: url('../img/icons/location.svg');
 }

 .information .email::before {
    background-image: url('../img/icons/email.svg');
 }

 .information .phone::before {
    background-image: url('../img/icons/phone.svg');
 }



 @media only screen and (min-width:768px){
    .header{        
        display: grid; 
        grid-template-areas: 
        "photo title"
        "photo information"
        ;       
    }

    .header .photo{        
        grid-area: photo;
        margin: 0 auto;       
    }

    .header .title{        
        grid-area: title;       
        text-align: start;
        max-width: 200px;
    }

    .header .information{        
        grid-area: information;       
    }
 }
