.portfolio{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width:100%;    
    margin: 0;
    padding: 0;
    list-style: none;
}

.portfolio li{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1rem 0;

}
.portfolio li .title{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 700;
    font-size: 1.25rem;
    /* margin-bottom: .5rem; */
    margin:0;
    margin-bottom: .5rem;


}
.portfolio li .title.github::before{
    content: "";
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;    
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/icons/github.svg');
    margin-right: .5rem;

}