[data-theme="light"] {
   --color-bg: #fafafa;
   --color-card: #e4e5f1;
   --color-hover: #d2d3db;
   --color-secondary: #9394a5;
   --color-fg:  #484b6a;
   --color-decoration: rgba(35, 155, 235, 0.925);
} 
 [data-theme="dark"] {
    --color-bg: #18191A;
    --color-card: #242526;
    --color-hover: #3A3B3C;
    --color-secondary: #B0B3B8;
    --color-fg:  #e4e6eb;
    --color-decoration: red;
 }
 .main{
    border-color: var(--color-fg);
    background-color: var(--color-card);
 }
 a{
    color: var(--color-fg);
    text-decoration: none;
 }
 a:hover{
    color: var(--color-fg);
    text-decoration: underline;
    text-decoration-color: var(--color-decoration);
 }
 h3{
    color: var(--color-fg);
 }
 li{
    color: var(--color-secondary);
 }

 .skills .softskills ul li{
    color: var(--color-secondary);   
 }
 .portfolio li a{
    color: var(--color-fg);
    text-decoration: none;
 }
 .portfolio li a:hover{
   color: var(--color-secondary);
   text-decoration: underline;
   text-decoration-color: var(--color-decoration);
}

.acordeon.open,.acordeon:hover{
    background-color: var(--color-card);
    border-color: var(--color-hover);
}
.acordeon .trigger{
    color: var(--color-fg);
}
 body {
   background-color: var(--color-bg);
   color: var(--color-fg);
   display: grid;
   min-height: 100vh;
   place-items: center;
 }
 .tema {
   font-size: 2rem;
   font-weight: bold;
   padding: 0.5rem 1rem;
   transition: all var(--global-transition-time) ease-in-out;
   border-radius: 2rem;
   cursor: pointer;
   color: var(--color-fg);
   background-color: var(--color-bg);
   border: 0.25rem solid var(--color-fg);
   position: absolute;
   right: 10px;
   bottom: 10px;
 }